body{
    width:80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --primary:#137a7a;
}

.typing{
    color: var(--primary);
    position: relative;
    font-size: 2rem;
}

.blink{
    content: '';
    margin-left: .5rem;
    height: 2.5rem;
    background-color: var(--primary);
    animation: move .6s step-start infinite;
}

@keyframes move {
    50% {
        opacity: 0;
    }
}