body{
    width:80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing{
    color: rgb(46, 131, 131);
    position: relative;
}

.typing::after{
    content: '';
    margin-left: .3rem;
    width: .2rem;
    height: 2.3rem;
    background-color: aqua;
    position: absolute;
    animation: move 1s step-start infinite;
}

@keyframes move {
    50% {
        opacity: 0;
    }
}